
/*SELETOR UNIVERSAL*/

*{
    margin: 0px;
    padding: 0px;
}

/*CORPO DA PAGINA*/

body{
    font-family: sans-serif;
}

/*SECÇAO CABECALHO*/

.cabecalho{

    background-color: rgb(4, 0, 247);
    color: rgb(35, 33, 156);
    display: flex;
    padding: 30px;
    font-size: 24px;
    justify-content:space-around;
}

.cabecalho-imagem{
    width: 150px;
    height: 150px;
}
.cabecalho-item{
    display: inline-block;
    padding: 0 100px;

    /*SECÇAO TURMA*/
}
.turma{
    background-image:linear-gradient(rgb(137,148,211,0.705),  rgb(137,148,211,0.705));
}
.turma-titulo{
    padding-bottom: 30px;
    text-align:center;}
    
    .turma-div{
    display: flex;
    justify-content:center;
}
    
    .turma-imagem{
        width: 300px;
    }


    /*SECÇAO ESTUDANTE*/

    .estudante{
        background-image:linear-gradient(rgba(137,148,211,0.705),rgba(137, 148, 211, 0.705));}

        .estudante-titulo{
            text-align: center;
            font: size 24px;
            padding:30px 0;}
        

            .estudante-div{
                text-align: center;}

                .estudante-imagem{
                    width: 90px;
                    height: 100px;
                }
   .estudante-icons{
    width: 52px;
    height:53px;
   }

   .estudante-legenda{
    font-size: 14px;
   }